.webOpacity {
  transform: translateY(0%) !important;
  opacity: 1 !important;
  transition: all 1s ease;
}

.header {
  grid-row: 1 / 2;
  grid-column: full-start / full-end;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(../img/img01.jpg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  margin-bottom: $margin-web;

  &-content {
    height: 100%;
  }
  &-describe {
    position: relative;
    top: 50%;
    left: 10%;
    width: 75%;
  }
  &-title {
    color: $theme-white-color;
    font-size: 3rem;
    font-weight: $font-weight-rough;
    opacity: 0;
    animation: fadeIn 1s 1 forwards;
    animation-delay: 1s;
  }
  &-title02 {
    width: 50%;
  }
  &-p {
    color: $theme-white-color;
    font-size: 2rem;
    opacity: 0;
    animation: leftFade 1s 1 forwards;
    animation-delay: 2s;
  }
}
.middle {
  transform: translateY(10%);
  opacity: 0;
  grid-column: col-start / col-end;
  display: grid;
  grid-template-columns: minmax(max-content, 1fr) 1fr;
  gap: 5rem;
  padding-top: $title-padding;
  width: 100%;
  @media only screen and (max-width: $bp-large) {
    grid-template-columns: 1fr;
    grid-template-rows: max-content minmax(36rem, 1fr);
  }
  @media only screen and (max-width: $bp-medium) {
    grid-template-rows: max-content minmax(20rem, 1fr);
  }
  &-container {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5rem 0;
    h3 {
      font-size: $font-h3;
      font-weight: $font-weight-rough;
      line-height: $line-normal;
      margin-bottom: 3rem;
      @media only screen and (max-width: $bp-smallest) {
      }
    }
    p {
      font-size: $font-p;
      line-height: $line-high;
      @media only screen and (max-width: $bp-large) {
      }
      @media only screen and (max-width: $bp-medium) {
      }
    }

    @media only screen and (max-width: $bp-large) {
      grid-row: 1 / 2;
      grid-column: 1 / span 1;
      padding: 0;
      justify-content: flex-start;
    }
  }
  &-img {
    height: 100%;
    grid-column: 2 / 3;
    background-image: url("/src/assets/img/img02.jpg");
    background-size: cover;
    background-position: 20%;
    background-repeat: no-repeat;
    @media only screen and (max-width: $bp-large) {
      justify-self: flex-end;
      grid-row: 2 / 3;
      grid-column: 1 / span 1;
      background-position: 35%;
      width: 100%;
      height: auto;
    }
    @media only screen and (max-width: $bp-medium) {
    }
    @media only screen and (max-width: $bp-small) {
    }
  }
}

.feature {
  transform: translateX(-5%);
  opacity: 0;
  padding-top: $title-padding;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: 7rem max-content 5rem 13% 1fr;
  grid-template-rows: max-content max-content;
  grid-row-gap: 5rem;
  @media only screen and (max-width: $bp-largest) {
    grid-template-columns: 7rem max-content 3rem 8% 1fr;
  }
  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 4rem 1fr 1fr 4rem;
    grid-template-rows: max-content max-content max-content;
    grid-row-gap: 3rem;
  }
  &::before {
    content: "";
    grid-column: 3/-1;
    grid-row: 1/-1;
    width: 100%;
    height: 100%;
    background-color: $background-green-dark;
    @media only screen and (max-width: $bp-medium) {
      grid-column: 1/-1;
      grid-row: 1/-1;
    }
  }
  &-top {
    grid-column: 2/3;
    grid-row: 1/2;
    @media only screen and (max-width: $bp-medium) {
      padding-top: 3rem;
      grid-column: 2/4;
      grid-row: 1/2;
    }
  }
  &-top {
    h3 {
      font-size: $font-h3;
      font-weight: $font-weight-rough;
      line-height: $line-normal;
      margin-bottom: 0.5rem;
    }
    p {
      font-weight: $font-weight-normal;
      font-size: $font-p-small;
      text-transform: uppercase;
    }
  }
  &-middle {
    grid-column: 5/-1;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: max-content 1fr 20%;
    align-items: center;
    grid-column-gap: 4rem;
    @media only screen and (max-width: $bp-largest) {
      grid-template-columns: max-content 1fr 10%;
      grid-column-gap: 2rem;
    }
    @media only screen and (max-width: $bp-medium) {
      grid-column: 2/4;
      grid-row: 2/3;
      background-color: $background-green-dark;
    }
    @media only screen and (max-width: $bp-small) {
      grid-template-columns: 1fr;
      grid-template-rows: max-content;
      justify-items: center;
    }
  }

  &-circle {
    position: relative;
    grid-column: 1/2;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background-color: $theme-light-gray;
    margin-bottom: 5rem;
    @media only screen and (max-width: $bp-largest) {
      margin-bottom: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
      width: 15rem;
      height: 15rem;
      grid-column: 1/-1;
      grid-row: auto;
    }
    &-number {
      position: absolute;
      top: -5%;
      left: 0;
      font-size: $font-h3;
    }
    &-title {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  &-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 6rem;
    color: darken($background-green-dark, 30%);
    transform: translate(-50%, -50%);
    @media only screen and (max-width: $bp-small) {
      font-size: 6.5rem;
    }
  }
  &-item {
    grid-column: 2/3;
    @media only screen and (max-width: $bp-small) {
      grid-column: 1/-1;
      grid-row: auto;
      margin-bottom: 2rem;
    }
    h3 {
      line-height: $line-high;
      font-weight: $font-weight-normal;
      margin-bottom: 0.5rem;
    }
    p {
      font-size: $font-p;
      line-height: $line-high;
    }
  }
  &-floor {
    grid-column: 1/4;
    grid-row: 2/3;
    position: relative;
    @media only screen and (max-width: $bp-medium) {
      grid-column: 2/4;
      grid-row: 3/4;
    }
    &-img {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      @media only screen and (max-width: $bp-medium) {
        margin-top: 3rem;
        transform: translateX(20%);
        top: 0;
        width: 70%;
      }
    }
  }
}
